.default {
    -fx-fill: white;
}

.editor {
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-background-color: #1e1e1e;
}

.erro-linha {
    -fx-background-color: rgba(255, 0, 0, 0.37);
}

.identificador {
    -fx-fill: #ffffff;
}

.numero {
    -fx-fill: #509E3E;
}

.palavra-reservada {
    -fx-fill: #219397;
    -fx-font-weight: bold;
}

.operador-relacional {
    -fx-fill: #D9E9A9;
    -fx-font-weight: bold;
}

.operador-matematico {
    -fx-fill: #D9E9A9;
    -fx-font-weight: bold;
}

.unitarios {
    -fx-fill: #D9E9A9;
    -fx-font-weight: bold;
}
.cadeia-caracteres {
    -fx-fill: yellow;
    -fx-font-weight: bold;
}
.root {
    -fx-base: #1e1e1e;
    -fx-background-color: #1e1e1e;
}

.styled-text-area {
    -fx-background-color: #1e1e1e;
    -fx-fill: #d4d4d4;   /* cor padrão do texto digitado */

}

.styled-text-area .caret{
    -fx-stroke: white;
}

.styled-text-area .selection {
    -fx-fill: #787878;
}

.styled-text-area .paragraph-box {
    -fx-background-color: #1e1e1e;
}

.lineno {
    -fx-background-color: #252526;
    -fx-fill: #858585;
    -fx-padding: 0 10 0 10;
}

.virtualized-scroll-pane {
    -fx-background-color: #1e1e1e;
}

.table-view {
    -fx-background-color: #1e1e1e;
}

.table-row-cell {
    -fx-background-color: #1e1e1e;
    -fx-fill: white;
}

.table-row-cell:filled:selected {
    -fx-background-color: #094771;
}

.table-view .column-header-background {
    -fx-background-color: #2d2d2d;
}

.table-view .column-header {
    -fx-background-color: #2d2d2d;
}

.table-view .label {
    -fx-fill: white;
}

.text-area {
    -fx-control-inner-background: #1e1e1e;
    -fx-fill: #ff6b6b;
}